@font-face {
  font-family: "PP Rader Variable";
  src: url("PPRader.woff2") format("woff2");
  font-weight: 1 999;
}

@font-face {
  font-family: "Bueno";
  src: url("bueno/Bueno-variable.ttf") format("ttf");
  font-weight: 1 999;
}

@font-face {
  font-family: "Bueno Light";
  src: url("bueno/bueno-light-webfont.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Bueno Regular";
  src: url("bueno/bueno-regular-webfont.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Bueno Bold";
  src: url("bueno/bueno-bold-webfont.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Monorope";
  src: url("monorope/Manrope-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Monorope";
  src: url("monorope/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Monorope";
  src: url("monorope/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
}

* {
  margin: 0px;
  padding: 0px;
}

html {
  background-color: #eedae6;
}

h1 {
  font-family: "Bueno Bold", "PP Rader Variable", sans-serif;
  text-align: center;
  font-size: 48px;
  font-weight: 750;
  margin-top: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 0.75rem 2.25rem 0.8rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(52 141 170 / 35%);
  border-radius: 50rem;
  background-color: transparent;
  background-image: linear-gradient(180deg, #69b5ff 32%, #37b4c5);
  box-shadow: 0 1px 2px 0 #bdc2c9, inset 0 1px 0 0 hsla(0, 0%, 100%, 0.34);
  transition: all 175ms cubic-bezier(.25, .46, .45, .94);
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.39);
  margin-right: 10px;
  font-family: Monorope;
  cursor: pointer;
}

.btn:hover {
  border-color: rgb(52 141 170 / 100%);
  background-color: #e3ebf7;
  background-image: linear-gradient(180deg, #5ea4e8 32%, #2e9cab);
  /* box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, 0.28), 0 2px 5px 0 rgba(54, 43, 99, 0.53); */
  color: #fff;
}

.reset_button {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.custom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.card {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.card_label {
  margin-right: 5px;
  font-family: Monorope;
}

.color_picker {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  height: 30px;
  width: 30px;
  margin-right: 3px;
  background-color: transparent;
}

.font_size_picker {
  width: 40px;
  margin-right: 3px;
  background-color: transparent;
  border: 0.5px solid grey;
  padding: 3px;
  border-radius: 4px;
}

.theme_button {
  padding: 5px 10px;
  margin: 3px;
  border-radius: 100px;
  cursor: pointer;
}

#review {
  width: 900px;
  height: 500px;
  margin: auto;
  background-color: rgb(247, 237, 227);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 0.25rem 0.75rem, rgba(0, 0, 0, 0.22) 0px 0px 0.25rem;
}

#top {
  display: flex;
}

#poster {
  position: absolute;
  height: 1230px;
  width: 819px;
  border-radius: 36px;
  /* box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2); */
  margin-right: 30px;
  border: 9px solid #9da8aa;
  transform: scale(0.33);
  transform-origin: top left;
  background-position: center;
  background-size: cover;
}

#image-uploader {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

#review_text {
  display: flex;
  flex-direction: column;
  margin-left: 290px;
}

#title {
  font-family: "Bueno Bold", "PP Rader Variable", sans-serif;
  font-size: 48px;
  font-weight: 525;
  height: 57px;
}

#meta {
  font-family: "Bueno Light", "PP Rader Variable", sans-serif;
  font-size: 32px;
  height: 39px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

#text {
  font-family: Monorope;
  font-size: 26px;
  font-weight: 300;
  width: 590px;
  height: 300px;
  margin-top: 10px;
}

/* Review Scores */

#bottom {
  display: flex;
  justify-content: space-evenly;
  /* background-color: #f5f5f5; */
  border: 3px solid #c4c4c4;
  border-radius: 50px;
  margin-top: 16px;
}

.score {
  background-color: #f5f5f5;
  width: 23%;
  text-align: center;
  font-size: 26px;
  margin: 4px;
  border-radius: 40px;
  padding: 8px;
  font-family: Monorope;
  font-weight: 500;
}

.score:hover {
  cursor: pointer;
  background-color: #e3e3e3;
}

#buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0 50px 0;
}


/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px;
  border: 1px solid #888;
  border-radius: 18px;
  width: 500px;
  max-width: 95%;
  box-sizing: border-box;
  box-shadow: 0 4px 20px 0 #00000030;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal_input {
  width: 100%;
  font-size: 26px;
  outline: none;
  border: none;
  margin-bottom: 10px;
  font-family: Monorope;
}

.modal_input:focus {
  outline: none;
  border: none;
}

#modal_text_title {
  font-weight: 750;
}

#modal_text_meta {
  font-size: 22px;
}

#modal_text_text {
  font-size: 18px;
  font-family: sans-serif;
  border: none;
  margin-bottom: 10px;
}

#modal_text_text:focus {
  outline: none;
  border: none;
}

.close {
  color: #aaaaaa7f;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#alert {
  display: none;
  align-items: flex-start;
  background-color: #f1f6c2;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 330px;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 2px 8px 0 #00000030;
  padding: 16px;
  font-family: Monorope;
  margin-right: 10px;
  cursor: pointer;
}

#alert_close {
  height: 20px;
  width: 20px;
}

/* Screenshots bit */
#screenshot-container {
  width: 900px;
  height: 500px;
  margin: auto;
  background-color: rgb(247, 237, 227);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 0.25rem 0.75rem, rgba(0, 0, 0, 0.22) 0px 0px 0.25rem;
}

#screenshot-uploader {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

#screenshot {
  width: 90%;
  height: 90%;
  max-height: 90%;
  max-width: 90%;
  border-radius: 24px;
  border: 3px solid #9da8aa;
  transform: scale(0.33);
  /* transform-origin: top left; */
  background-position: center;
  background-size: cover;
}