@font-face {
  font-family: "PP Rader Variable";
  src: url("PPRader.woff2") format("woff2");
  font-weight: 1 999;
}

@font-face {
  font-family: "Monorope";
  src: url("monorope/Manrope-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Monorope";
  src: url("monorope/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Monorope";
  src: url("monorope/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "PP Rader Variable", sans-serif;
}

h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 750;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 0.75rem 2.25rem 0.8rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(91, 52, 170, 0.35);
  border-radius: 50rem;
  background-color: transparent;
  background-image: linear-gradient(180deg, #b169ff 32%, #653dbb);
  box-shadow: 0 1px 2px 0 #bdc2c9, inset 0 1px 0 0 hsla(0, 0%, 100%, 0.34);
  transition: all 175ms cubic-bezier(.25, .46, .45, .94);
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.39);
  margin-right: 10px;
  font-family: Monorope;
  cursor: pointer;
}

.btn:hover {
  border-color: #5b43c2;
  background-color: #e3ebf7;
  background-image: linear-gradient(180deg, #8456d8 43%, #3e0e99);
  box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, 0.28), 0 2px 5px 0 rgba(54, 43, 99, 0.53);
  color: #fff;
}

#review {
  width: 900px;
  height: 500px;
  margin: auto;
  background-color: rgb(247, 237, 227);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#top {
  display: flex;
}

#poster {
  height: 410px;
  width: 273px;
  border-radius: 12px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  margin-right: 30px;
  background: linear-gradient(rgb(230, 134, 225), rgb(202, 96, 196));
}

#review_text {
  display: flex;
  flex-direction: column;
}

#title {
  font-size: 48px;
  font-weight: 750;
}

#meta {
  font-size: 32px;
  font-style: italic;
}

#text {
  font-family: Monorope;
  font-size: 26px;
  font-weight: 300;
  width: 590px;
  height: 300px;
  margin-top: 10px;
}

/* Review Scores */

#bottom {
  display: flex;
  justify-content: space-evenly;
  /* background-color: #f5f5f5; */
  border: 3px solid #c4c4c4;
  border-radius: 50px;
  margin-top: 16px;
}

.score {
  background-color: #f5f5f5;
  width: 23%;
  text-align: center;
  font-size: 26px;
  margin: 4px;
  border-radius: 40px;
  padding: 8px;
  font-family: Monorope;
  font-weight: 500;
}

.score:hover {
  cursor: pointer;
  background-color: #e3e3e3;
}

#buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px;
  border: 1px solid #888;
  border-radius: 18px;
  width: 500px;
  box-sizing: border-box;
  box-shadow: 0 4px 20px 0 #00000030;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal_input {
  width: 100%;
  font-size: 26px;
  outline: none;
  border: none;
  margin-bottom: 10px;
}

.modal_input:focus {
  outline: none;
  border: none;
}

#modal_text_title {
  font-weight: 750;
}

#modal_text_meta {
  font-size: 22px;
}

#modal_text_text {
  font-size: 18px;
  font-family: sans-serif;
}

.close {
  color: #aaaaaa7f;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
