@font-face {
  font-family: "PP Rader Variable";
  src: url("PPRader.woff2") format("woff2");
  font-weight: 1 999;
}

@font-face {
  font-family: "Bueno";
  src: url("bueno/Bueno-variable.ttf") format("ttf");
  font-weight: 1 999;
}

@font-face {
  font-family: "Bueno Light";
  src: url("bueno/bueno-light-webfont.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Bueno Regular";
  src: url("bueno/bueno-regular-webfont.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Bueno Bold";
  src: url("bueno/bueno-bold-webfont.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Monorope";
  src: url("monorope/Manrope-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Monorope";
  src: url("monorope/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Monorope";
  src: url("monorope/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Belanosima";
  src: url("Belanosima/belanosima-regular-webfont.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Oxygen";
  src: url("Oxygen/oxygen-regular-webfont.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Oxygen";
  src: url("Oxygen/oxygen-light-webfont.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Oxygen";
  src: url("Oxygen/oxygen-bold-webfont.woff2") format("woff2");
  font-weight: 700;
}

* {
  margin: 0px;
  padding: 0px;
}

html {
  background-color: #071132;
}

h1 {
  font-family: Belanosima, "Bueno Bold", "PP Rader Variable", sans-serif;
  text-align: center;
  font-size: 44px;
  font-weight: 750;
  margin-top: 10px;
  color: #EDEDED;
  margin-bottom: -2px;
}

#site_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto auto 20px auto;
}

#site_name a {
  color: #EDEDED;
  text-decoration: none;
}

#underline {
  height: 3px;
  width: 190px;
  background-color: #DBFEA4;
  border-radius: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 26px;
  border: 1px solid #F2FFDE;
  border-radius: 100px;
  background-color: #DBFEA4;
  /* box-shadow: 0 1px 2px 0 #2b2c2c, inset 0 1px 4px 0 hsla(360, 1%, 20%, 0.14); */
  color: #354B14;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 10px;
  font-family: Oxygen;
  cursor: pointer;
}

.reset_button {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.custom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  color: #EDEDED;
}

.card {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.card_label {
  margin-right: 5px;
  font-family: Monorope;
}

.color_picker {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  height: 30px;
  width: 30px;
  margin-right: 3px;
  background-color: transparent;
}

.font_size_picker {
  width: 40px;
  margin-right: 3px;
  background-color: transparent;
  border: 0.5px solid grey;
  padding: 3px;
  border-radius: 4px;
  color: #EDEDED;
}

.theme_button {
  padding: 7px 18px;
  margin: 4px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0 1px 8px #00000020;
}

#review {
  width: 900px;
  min-height: 500px;
  margin: auto;
  background-color: #2B384F;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 0.25rem 0.75rem, rgba(0, 0, 0, 0.22) 0px 0px 0.25rem;
}

#top {
  display: flex;
}

#poster {
  position: absolute;
  height: 1230px;
  width: 819px;
  border-radius: 44px;
  /* box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2); */
  margin-right: 30px;
  border: 9px solid #9da8aa;
  transform: scale(0.33);
  transform-origin: top left;
  background-position: center;
  background-size: cover;
}

#image-uploader {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

#review_text {
  display: flex;
  flex-direction: column;
  margin-left: 290px;
}

#title {
  font-family: Belanosima, "Bueno Bold", "PP Rader Variable", sans-serif;
  font-size: 48px;
  font-weight: 525;
  height: 57px;
  letter-spacing: -1px;
}

#meta {
  font-family: Oxygen, "Bueno Light", "PP Rader Variable", sans-serif;
  font-size: 28px;
  height: 39px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

#text {
  font-family: Oxygen;
  font-size: 26px;
  font-weight: 300;
  width: 590px;
  height: 300px;
  margin-top: 10px;
}

/* Review Scores */

#bottom {
  display: flex;
  justify-content: space-evenly;
  /* background-color: #f5f5f5; */
  border: 3px solid #c4c4c4;
  border-radius: 50px;
  margin-top: 16px;
}

.score {
  background-color: #2b384f;
  width: 23%;
  text-align: center;
  font-size: 30px;
  margin: 4px;
  border-radius: 40px;
  padding: 8px;
  font-family: Belanosima;
  font-weight: 500;
  color: white;
}

.score:hover {
  cursor: pointer;
  background-color: #2B384F;
}

#buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0 40px 0;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #b6b6b6;
  font-family: Oxygen, sans-serif;
  font-size: 20px;
  margin: 0 0 50px 0;
}

.separator {
  width: 12px;
}

.label {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  padding: 4px 20px;
  border-radius: 100px;
  margin: 0 0 10px 0;
}

.green {
  background: #F2FFDE;
  border: 2px solid #DBFEA4;
}

.blue {
  background: #E6F6F8;
  border: 2px solid #91E0E8;
}

.red {
  background: #FFE1E7;
  border: 2px solid #FD738E;
}

.purple {
  background: #DAD4E4;
  border: 2px solid #32195C;
}

#privacy {
  width: 700px;
  max-width: 80%;
  font-size: 14px;
}


/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1c1c1c;
  padding: 30px;
  border: 1px solid #888;
  border-radius: 18px;
  width: 500px;
  max-width: 95%;
  box-sizing: border-box;
  box-shadow: 0 4px 20px 0 #00000030;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal_input {
  width: 100%;
  font-size: 26px;
  outline: none;
  border: none;
  margin-bottom: 10px;
  font-family: Oxygen;
  background-color: #1c1c1c;
  color: #EDEDED;
}

.modal_input:focus {
  outline: none;
  border: none;
}

#modal_text_title {
  font-weight: 750;
}

#modal_text_meta {
  font-size: 22px;
}

#modal_text_text {
  font-size: 18px;
  font-family: sans-serif;
  border: none;
  margin-bottom: 10px;
  background-color: #1c1c1c;
  color: #EDEDED;
}

#modal_text_text:focus {
  outline: none;
  border: none;
}

.close {
  color: #aaaaaa7f;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#alert {
  display: none;
  align-items: flex-start;
  background-color: #f1f6c2;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 330px;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 2px 8px 0 #00000030;
  padding: 16px;
  font-family: Monorope;
  margin-right: 10px;
  cursor: pointer;
}

#alert_close {
  height: 20px;
  width: 20px;
}

/* Screenshots bit */
#screenshot-container {
  width: 900px;
  height: 500px;
  margin: auto;
  background-color: rgb(247, 237, 227);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 0.25rem 0.75rem, rgba(0, 0, 0, 0.22) 0px 0px 0.25rem;
}

#screenshot-uploader {
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

#screenshot {
  width: 90%;
  height: 90%;
  max-height: 90%;
  max-width: 90%;
  border-radius: 24px;
  border: 3px solid #9da8aa;
  transform: scale(0.33);
  /* transform-origin: top left; */
  background-position: center;
  background-size: cover;
}